@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #c2a6ff;
}

input{
    outline: none;
    border: none;
    background-color: transparent;
}

.rectangle {
    padding: 20px;
    background: rgb(248, 247, 247);
    display:table-row-group;
    width:100%;
    height: 300px;
   
}



