@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #D6BCFA;
}

input{
    outline: none;
    background-color: transparent;
}

.rectangle {
    padding: 20px;
    background: rgb(248, 247, 247);
    display:table-row-group;
    width:100%;
    height: 300px;
   
}



/* Add to your styles or Tailwind CSS config */
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 
  