.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(194, 166, 255, 1);
}

.contact__form--container {
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  padding-top: 4rem;
}

.contact__form--social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.contact__form--social-button {
  display: flex;
  background-color: #ff6b00;
  border: none;
  padding: 1.3rem 2.5rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 30px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-image: url('../../assets/contact-form/facebook.png');
}

.twitter {
  background-image: url('../../assets/contact-form/twitter.png');
}

.linkedin {
  background-image: url('../../assets/contact-form/linkedin.png');
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact__form--main-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem 2rem;
}

.contact__form--bottom-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.contact__form--form-group label {
  display: block;
  margin-bottom: 5px;
  color: #7d3fd5;
  font-weight: bold;
}

.contact__form--form-group input,
.contact__form--form-group select {
  width: 450px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.contact__form--form-group placeholder {
  color: #7d3fd5;
}

.contact__form--form-group textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical;
}

.contact__form--msg {
  width: 100%;
}

.contact__form--form-group .full-width {
  width: 100%;
}

.contact__form--btn {
  width: 100%;
}

.contact__form--submit-button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  padding: 15px;
  margin-top: 1rem;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.contact__form--submit-button:hover {
  background-color: #e65c00;
}